{{ attach_library('<%= themeNameMachine %>/button') }}

{%
  set classes = [
    'button',
    button.modifier,
  ]
%}
{# Presence of a url in the passed button object determines type of button. #}
{% if button.url %}
  <a href="{{ button.url }}" class="{{ classes|join(' ') }}">
    {{ button.text }}
  </a>
{% else %}
  <button class="{{ classes|join(' ') }}"{{ button.modifier == 'is-disabled' ? ' disabled' }}>
    {{ button.text }}
  </button>
{% endif %}
