{% import '@<%= themeNameMachine %>/icons/_icons-macro.twig' as icons %}

<article class="accordion">
  <button type="button" class="accordion__toggle" aria-controls="accordion__content-{{ item.accordion_instance }}" aria-expanded="false" id="accordion__toggle-{{ item.accordion_instance }}" aria-selected="false">
    <span class="accordion__heading">
      {{ item.heading }}
    </span>
    {{ icons.get('accordion__arrow'|lower) }}
  </button>
  <div class="accordion__content" id="accordion__content-{{ item.accordion_instance }}" aria-hidden="true" aria-labelledby="accordion__content-{{ item.accordion_instance }}">
    {% block accordion_content %}
      {{ item.content }}
    {% endblock %}
  </div>
</article>
