{{ attach_library('<%= themeNameMachine %>/accordion') }}

<section class="accordion-container {{ modifier }}" {{ extra_attributes }}>
  {#
    Optional: Pass in Drupal specific functionality.
    Note that this is only needed with nodes and blocks.
    This isn't needed for Drupal Paragraphs.
  #}
  {#
    {{ title_prefix }}
    {{ title_suffix }}
  #}

  {% block accordion_items %}
    {% for accordion_item in items %}
      {%
        include '@<%= themeNameMachine %>/accordion/_accordion-item.twig' with {
          "modifier": accordion_item.modifier,
          "heading": accordion_item.heading,
          "content": accordion_item.content,
          "instance": accordion_item.instance
        } only
      %}
    {% endfor %}
  {% endblock %}
</section>
