{{ attach_library('<%= themeNameMachine %>/media') }}
{%
  set classes = [
    'media-item',
    media.modifier,
  ]
%}

{# Preserve the Drupal attributes if available; else, print the class attribute. #}
{%
  set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"'
%}

<div{{ attributes|raw }}>
  {# Pass in Drupal specific functionality. #}
  {{ title_prefix }}
  {{ title_suffix }}

  {% if media.video %}
    <div class="media-item__responsive-video">
      {{ media.video }}
    </div>
  {% else %}
    <div class="media-item__image">
      {{ media.image }}
    </div>
  {% endif %}
  {# Captions are optional. #}
  {% if media.caption %}
    <div class="media-item__caption">
      {{ media.caption }}
    </div>
  {% endif %}
</div>
