{{ attach_library('<%= themeNameMachine %>/media') }}
{%
  set classes = [
    'media-item',
    media_item.modifier,
  ]
%}

{%
  set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"'
%}

<div{{ attributes|raw }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if media_item.video %}
    <div class="media-item__responsive-video">
      {{ media_item.video }}
    </div>
  {% else %}
    <div class="media-item__image">
      {{ media_item.image }}
    </div>
  {% endif %}
  {% if media_item.caption %}
    <div class="media-item__caption">
      {{ media_item.caption }}
    </div>
  {% endif %}
</div>
