{{ attach_library('<%= themeNameMachine %>/card') }}

<article class="card{{ card.modifier ? ' ' ~ card.modifier }}
  {{- attributes ? ' ' ~ attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>

  <div class="card__media">
    {% if card.media.image %}
      {{ card.media.image }}
    {% elseif card.media.video %}
      {{ card.media.video }}
    {% endif %}
    <span class="card__media-caption">
      {{ card.media.caption }}
    </span>
  </div>

  <div class="card__content">
    {% if card.eyebrow %}
      {%
        include '@booya/eyebrow/eyebrow.twig' with {
          "eyebrow": card.eyebrow
        } only
      %}
    {% endif %}

    {% if card.heading.title %}
      {%
        include '@booya/heading/heading.twig' with {
          "heading": card.heading
        } only
      %}
    {% endif %}

    {% if card.subhead.title %}
      {%
        include '@booya/heading/heading.twig' with {
          "heading": card.subhead
        } only
      %}
    {% endif %}

    {% if card.summary_text %}
      <div class="card__summary">
        {{ card.summary_text }}
      </div>
    {% endif %}

    {% if card.link %}
      <a href="{{ card.link.url }}" class="card__link">{{ card.link.text }}</a>
    {% endif %}
  </div>

</article>
