{{ attach_library('<%= themeNameMachine %>/heading') }}

{# Defaults to h2 (heading level 2) if no heading level is supplied. #}
<{{ heading_level|default('h2') }} class="heading {{ modifier }}" {{ extra_attributes }}>

  {% if url %}
    <a href="{{ url }}" class="heading__link">{{ title }}</a>
  {% else %}
    {{ title }}
  {% endif %}

</{{ heading_level|default('h2') }}>
