{{ attach_library('<%= themeNameMachine %>/heading') }}
{%
  set classes = [
    'heading',
    heading.modifier,
  ]
%}

{%
  set attributes = attributes ? attributes.addClass(classes) : ' class="' ~ classes|join(' ') ~ '"'
%}

{# Defaults to h2 (heading level 2) if no heading level is supplied. #}
<h{{ heading.heading_level|default('2') }}{{ attributes|raw }}>

  {% if heading.url %}
    <a href="{{ heading.url }}" class="heading--link">{{ heading.title }}</a>
  {% else %}
    {{ heading.title }}
  {% endif %}

</h{{ heading.heading_level|default('2') }}>
