{{ attach_library('<%= themeNameMachine %>/button') }}

{% if button.url %}
  <a href="{{ button.url }}" class="button{{ button.modifier ? ' ' ~ button.modifier }}">{{ button.text }}</a>
{% else %}
  <button class="button{{ button.modifier ? ' ' ~ button.modifier }}">{{ button.text }}</button>
{% endif %}
