{{ attach_library('<%= themeNameMachine %>/search-api-results') }}
<div class="search-api-results container">
  {{ form }}

  {% if search_title %}
    <h2>{{ search_title }}</h2>
  {% endif %}

  {% if no_of_results %}
    <p>{{ no_of_results }}</p>
  {% endif %}

  {{ no_results_found }}

  {{ search_help }}

  {{ results }}

  {{ pager }}
</div>